@import "@/styles/variables.scss";

.section-left-layout {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.section-right-layout {
  width: calc(75% - 50px);
  margin-left: 50px;
}

.link-button {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: bold;
  color: $white-color;
  background: $secondary-color;
  text-decoration: none;
  cursor: pointer;

  img {
    height: 20px;
    margin-right: 8px;
  }
}

.link-button:first-child {
  margin-right: 20px;
}
