@import "@/styles/variables.scss";

.section-left-layout {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.section-right-layout {
  width: calc(75% - 50px);
  margin-left: 50px;
}

.link-button {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: bold;
  color: $white-color;
  background: $secondary-color;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  .button-icon {
    height: 20px;
    width: 20px;
    margin: 0 8px 0 0;
  }

  &:hover {
    color: $secondary-color;
    background: $white-color;

    .button-icon {
      filter: $filter-secondary-color;
    }
  }
}

.link-button:first-child {
  margin-right: 20px;
}
