@import "@/styles/variables.scss";

* {
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

h1 {
  margin: 0;
  font-size: $font-title-size;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: $font-big-size;
  color: $white-color;
}

h4 {
  margin: 8px 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 0;
  padding: 0;
}
