$primary-color: #cce8cc;
$secondary-color: #636371;
$dark-secondary-color: #181819;
$light-color: #fcf6e5;

$black-color: #000000;
$white-color: #ffffff;

$font-title-size: 100px;
$font-big-size: 24px;
