@import "@/styles/variables.scss";

.contact-section {
  display: flex;
  padding: 35px 20% 50px 20%;
  background: $dark-secondary-color;

  .contact-icon {
    height: 100px;
    width: 100px;
    cursor: default;
  }

  .contact-text {
    color: $secondary-color;
  }

  .contact-links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    h4 {
      margin-top: 0;
      color: $white-color;
    }
  }
}
