@import "@/styles/variables.scss";

.about-section {
  display: flex;
  padding: 35px 20%;
  background: $dark-secondary-color;

  .about-profile {
    height: 250px;
    width: 200px;
    border: 2px solid $white-color;
    background-size: auto 100%;
    background-position: center;
    background-image: url("../../assets/images/profile.png");
  }

  .about-text {
    color: $secondary-color;
  }

  .about-links {
    display: flex;
  }
}
