@import "@/styles/variables.scss";

.about-section {
  display: flex;
  padding: 35px 20%;
  background: $dark-secondary-color;

  @include tablet-only {
    padding: 35px 5%;
  }

  @include mobile-only {
    flex-direction: column;
    align-items: center;
    padding: 35px 7.5%;

    h2 {
      display: none;
    }

    .section-left-layout {
      margin-bottom: 0;
    }
  }

  .about-profile {
    height: 250px;
    width: 200px;
    border: 2px solid $white-color;
    background-size: auto 100%;
    background-position: center;
    background-image: url("../../assets/images/profile.png");
  }

  .about-text {
    color: $secondary-color;

    @include mobile-only {
      text-align: center;
    }
  }

  .about-links {
    display: flex;

    @include mobile-only {
      justify-content: space-evenly;
    }
  }
}
