@import "@/styles/variables.scss";

.hobbies-section {
  display: flex;
  padding: 35px 20%;
  background: $primary-color;

  h2 {
    height: fit-content;
    width: fit-content;
    color: $dark-secondary-color;
  }

  .hobbies-title {
    text-transform: uppercase;
    border-bottom: 4px solid $white-color;
  }

  .hobbies-list {
    display: flex;
    flex-wrap: wrap;
  }
}
