@import "@/styles/variables.scss";

.languages-section {
  display: flex;
  padding: 0 20% 35px 20%;
  background: $white-color;

  h2 {
    height: fit-content;
    width: fit-content;
    color: $dark-secondary-color;
  }

  .languages-title {
    text-transform: uppercase;
    border-bottom: 4px solid $primary-color;
  }

  .languages-list {
    display: flex;
    flex-wrap: wrap;
  }
}
