@import "@/styles/variables.scss";

.skills-section {
  display: flex;
  padding: 35px 20%;
  background: $white-color;

  h2 {
    height: fit-content;
    width: fit-content;
    color: $dark-secondary-color;
  }

  .skills-title {
    text-transform: uppercase;
    border-bottom: 4px solid $primary-color;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1 0 48%;
      margin-bottom: 10px;
      list-style-type: none;

      &:nth-child(even) {
        margin-left: 4%;
      }
    }

    li:before {
      content: "• "; /* on affiche une chaîne de caractère */
    }
  }
}
